# Basic dummy read calculate formula
+ Create a spreadsheet object with a formula
+ Change the input values
+ Evaluate the formula, check the values match

In [1]:
import pandas
import pyexcel, openpyxl

In [2]:
workbook = openpyxl.workbook.Workbook()
sheet = workbook.active

In [3]:
sheet["A1"] = 'Sum'
sheet["A2"] = "=SUM(B2:B10)"
sheet["B1"] = 'Count'
print(sheet["A2"].value)

=SUM(B2:B10)

In [4]:
for row in sheet.iter_rows(min_row=2, max_row=12, values_only=False):
    row[1].value = 1
    print(row[1].value)
#sheet["B2:B10"] = 1

1
1
1
1
1
1
1
1
1
1
1

In [5]:
calc_cell = sheet["A1"]

In [6]:
workbook.save("/tmp/out.xlsx")

In [7]:
# Show formula
workbook2 = openpyxl.open("./out.xlsx", data_only=False)
for row in workbook2.active.iter_rows(min_row=2, max_row=12, values_only=False):
    print(row[0].value)

=SUM(B2:B10)
None
None
None
None
None
None
None
None
None
None

In [8]:
# Show value
workbook2 = openpyxl.open("/tmp/out.xlsx", data_only=True)
for row in workbook2.active.iter_rows(min_row=2, max_row=12, values_only=True):
    print(row[0])

None
None
None
None
None
None
None
None
None
None
None

In [9]:
import os
# Theres a special condition where libreoffice will just exit if the output file is the same as the input. Converting to xls isnt required if the output directory is different.
os.system("cd /tmp && libreoffice --calc --convert-to xls /tmp/out.xlsx && libreoffice --calc --convert-to xlsx /tmp/out.xls")
workbook4 = openpyxl.open("/tmp/out.xlsx", data_only=True)
for row in workbook4.active.iter_rows(min_row=2, max_row=12, values_only=True):
    print(row[0])

9
None
None
None
None
None
None
None
None
None
None

In [10]:
import pandas
pandas.read_excel("/tmp/out.xls")

    Sum  Count
0   9.0      1
1   NaN      1
2   NaN      1
3   NaN      1
4   NaN      1
5   NaN      1
6   NaN      1
7   NaN      1
8   NaN      1
9   NaN      1
10  NaN      1

In [11]:
workbook3 = openpyxl.open("./calculator-sheet.xlsx", data_only=False)

In [12]:
for row in workbook3.active.iter_rows(min_row=2, max_row=12, values_only=False):
    print(row[1].value)

0.8.X
0.1.8
None
None
246
3260000
2024
=1/2
0
=B8/4096*3.3/B9
=ABS(B11/24-1)